*
{
margin: 0px;
padding: 0px;
box-sizing: 200;   
}
.kutia-1{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    width: 700px;
    display: inline-block ;
    margin: 200;
    border: 200px;
    padding: 30px;
background-color:rgba(7, 7, 30, 0.9)

}
.kutia-2{
    font-size: 100x;
    color:rgb(38, 66, 160);
    margin: 40px;

}


.kutia-3{
    color: white;
    width: 700px;
    display: inline-block ;
    margin: 50;
    border: 200px;
    padding: 30px;
background-color:rgba(7, 7, 30, 0.9)
  

    
}